@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}
body {
  background-image: url(./images/bg/sugoi_body.png);
  background-repeat: repeat;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
/* h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
} */

/* header */
#page-header {
  height: 90px;
  margin-bottom: 0px;
}
#sns-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 30px
}
.twitter, .facebook {
  display: flex;
  flex-direction: column;
}
.twitter {
  margin-right: 13px;
}

/* タイトル */
.top-img {
  width: 514px;
  height: 347px;
  margin: 0 auto 45px;
}
.sub-title {
  width: 294px;
  height: 27px;
  margin: 0 auto 94px;
}

/* スライドショー */
#sugoiSlideshow {
  height: 500px;
  margin-top: 93px;
  width: 100%;
  overflow: hidden;
}

.slideshow ul {
  list-style-type: none;
  width: 8900px;
  overflow: hidden;
}
.slideshow ul li {
  float: left;
}
.slideshow img {
  width: 890px;
  height: 500px;
}

/* メインコンテンツ */
#maincontent {
  width: 960px;
  margin: 0 auto;
  color: #4c4c4c;
}
#gutto-article, #chosugo-pic, #hanahada-article, #heavy-article,
#sugoimap, #sanzan-article, #sugoimovie {
  margin: 40px auto;
}

/* グッと...記事 */
#gutto-article {
  margin: 40px auto;
  display: flex;
}
.gutto-article-text {
  padding-left: 70px;
}
.gutto-article-text p {
  padding: 25px 0 0 0;
  font-size: 14px;
  line-height: 24px;
}

/* 超すご...写真 */
#chosugo-pic {
}
.chosugo-pic-wrapper {
  padding-top: 63px;
  display: flex;
}
.chosugo-pic-wrapper p {
  padding: 11px 33px 0 0;
  font-size: 13px;
  line-height: 22px;
}

/* 甚だ...記事 */
#hanahada-article {
  display: flex;
}
.hanahada-article-wrapper {
  padding-left: 70px;
}
.hanahada-article-wrapper p {
  font-size: 14px;
  line-height: 24px;
  padding-top: 22px;
}

/* ヘビー...文章 */
#heavy-article {
  display: flex;
  /* justify-content: space-between; */
}
.heavy-article-text {
  width: 300px;
}
.heavy-article-text h2 {
  padding: 35px 0 11px 0;
}
.heavy-article-text p {
  font-size: 13px;
  line-height: 22px;
  padding-right: 20px;
}

/* すごいマップ */
#sugoimap {
}
.sugoimap-description-wrapper {
  background-color: #4c4c4c;
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
  height: 245px;
}
.sugoimap-description {
  width: 310px;
  padding-right: 30px;
}
.sugoimap-description:last-child {
  padding-right: 0;
}
.sugoimap-description p {
  color: #ebebeb;
  font-size: 13px;
  line-height: 22px;
  padding-top: 11px;
  width: 280px;
}
#sugoimap-aside {
  padding-top: 40px;
  display: flex;
}
.sugoimap-aside-wrapper {
  display: flex;
  height: 91px;
}
.sugoimap-aside-text {
  padding:0 65px 0 20px;
}
.sugoimap-aside-text p {
  font-size: 12px;
  line-height: 22px;
  padding-top: 5px;
}

/* さんざん...記事 */
#sanzan-article-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.sanzan-article-text {
  width: 300px;
}
.sanzan-article-text h3 {
  padding: 35px 0 11px 0;
}
.sanzan-article-text p {
  font-size: 13px;
  line-height: 22px;
  padding-right: 15px;
}

/* すごい動画 */
#sugoimovie {
}
.movie {
  text-align: center;
}

/* フッター */
#footer-main {
  background-image: url(./images/bg/sugoi_footer.png);
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  padding: 45px 0 40px 0;
}
.footer-links {
  width: 240px;
  color: #4c4c4c;
  font-size: 13px;
  line-height: 23px;
}
.footer-links h5 {
  padding-bottom: 25px;
}
.footer-profile {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.footer-profile img, .footer-profile a img {
  padding-bottom: 10px;
}
#footer-copyright {
  background-image: url(./images/bg/sugoi_copyright_bg.png);
  background-repeat: repeat;
  padding: 20px 0;
}
#footer-copyright img {
  display: block;
  margin: 0 auto;
}